.modal-overlay {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  outline: none;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  border: none;
}

.modal-card {
  position: relative;
  width: 550px;
  min-height: 150px;
  background: white;
  border-radius: 8px;
  padding: 32px 48px;

  p {
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 28px;
  }
}

.modal-title {
  font-size: 26px;
  text-align: left;
  font-weight: 700;
  margin-bottom: 24px;
}
